body{
   background-image: url("../img/fondo1.png");
}


.jumbotron{
    margin-top: 100px;
    background-color: #303F9F;
   color: white;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:black;
    background-color:#FFC107;
}

#para1{
    background-color: #FF5252;
}

.caracteristicas{
    background-color: #28a745;
    margin-top: 30px;
}
.caracteristicas:hover{
    background-color: white;
}
.card:hover{
    background-color:white;
} 



.Acme{
    background-color:#ffc107;;
    margin-top: 30px;

}
.Defi{
    background-color: #FF5252;
    margin-top: 30px;
}
.Import{
    background-color:#6c757d;
    margin-top: 30px;
}
.comparativa{
    margin-top: 30px;
    background-color: #03A9F4;
}

.fuentes{
    background-color: #FF5252;
    margin-top: 100px;
}

.parallax {
    /* The image used */
    background-image: url("../img/compu.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .tipos{
      background-color: rgba(0,0,0,.62);
      padding-top: 200px;
    padding-bottom: 245px;
    color: #f8f9fa;
  }